<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class = "header-logo">
        <%= link_to("ToDo", "/")%>
      </div>
      <div class = "header-menus">
        <ul>
          <li><%= link_to("タスク管理", "/tasks/index")%></li>
          <li><a href ="#">新規登録</a></li>
          <li><a href ="#">ログイン</a></li>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
